* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  background-color: black;
  color: white;
  background-image: url(https://user-images.githubusercontent.com/33485020/108069438-5ee79d80-7089-11eb-8264-08fdda7e0d11.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  overflow-x: hidden; /*  Remove Horizontal schroll Bar*/
  overflow-y: hidden;
}

.first {
  height: 100vh;
  width: 100%;
}

nav {
  display: flex;
  height: 10vh;
  width: 100%;
  justify-content: space-around;

  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.864);

  position: relative;
  z-index: 1;
}
nav img {
  width: 150px;
  padding: 10px;
}

.innav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  display: flex;
  padding: 8px;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid white;
  background: none;
  color: white;
  font-weight: bold;
}

.infirst {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px;
  margin: 0px;

  max-width: 100%;
}

.p1 {
  font-size: 50px;
  font-weight: bold;
  padding: 10px;
}

.p2 {
  font-size: 30px;
  padding: 15px;
}

.infirst_h {
  padding: 20px;
  display: flex;
  /* flex-direction: column; */
  gap: 20px;

  input {
    padding: 10px;
    border: 1px solid white;
    background-color: rgba(128, 128, 128, 0);
    width: 250px;
    border: 5px;
  }

  button {
    padding: 10px;
    border: 1px solid white;
    background-color: red;
    width: 200px;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
  }
}
